body{
	margin: 0px;
}

header{
	width: 100vw;
	height: 100vh;
	background-color: #444;
	position: relative;
}

.landingOverlay{
	background-color: #c8d7ee;
}

#logo{
	background-color: #161c32;
	width: 500px;
	height: 100px;
}

#titlebar{
	height: 300px;
	width: 100%;
	position: absolute;
	bottom: 250px;
}

#navbar{
	height: 150px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}